<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
    <h1>User Profile Sample</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>編集</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>
                <a href={{ url_for('delete',id=user[0])}}>削除</a>
                <a href={{ url_for('update',id=user[0])}}>編集</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>